/* --------------------------------------------------------
Import Basic Files
-------------------------------------------------------- */

@import url("normalize.css");
/* CSS Resets */
@import url("layout.css");
/* Main Styles */
@import url("shortcodes.css");
/* Shortcodes */
@import url("grid.css");
/* Twitter Bootstrap Grid */
@import url("font-awesome.css");
/* Custom Icons */
@import url("flexslider.css");
/* Flex Slider */
@import url("jquery.fancybox.css");
/* Fancybox for Lightboxes */
@import url("mediaqueries.css");
/* Media Queries (Responsive Layouts) */
@import url("isotope.css");
/* Isotope for Portfolio */

body {
    background-color: #1a1c1e !important;
}

.regular {
    color: white;
}

.bold {
    color: white;
}

.line {
    color: white;
}

.sub {
    font-size: 24px;
    text-align: center;
}

.address1 {
    color: #ccced0
}

a {
    color: #fc1d42;
}

.red {
    color: #fc1d42;
}

.red:hover {
    color: white;
}

.video {
    width: 100%;
}

img {
    color: #fc1d42;
}

.circulo {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    background: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    padding: 3%
}

.circulo .rojito {
    color: #fc1d42;
    font-size: 1.7rem;
    font-weight: bold;
}
.circulo .blanquito {
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: bold;
}

